<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col" *ngFor="let session of sessions">
        <div class="card shadow-sm">
          <img [src]="session.photo" alt="Session Image" class="card-img-top">
          <div class="card-body">
            <h2 class="card-title">{{ session.name }}</h2>
            <p class="card-text">{{ session.time }}</p>
            <p class="card-text">{{ session.rate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



